# build output
dist/
# local wrangler state (D1, etc)
.wrangler/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
temp/

# Bun lockfile
bun.lockb

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# vscode setting folder
.vscode/

# jetbrains setting folder
.idea/

# DB Migration-related stuff
migration/baserow-export/*
migration/seed.sql